html,body {
    height:100%;
}
.display-info{
    width:500px;
    height:400px;
    overflow-y:scroll;
    border:1px solid lightgray;
}
.title{
    display:block;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;

}